body {
  margin: 0;
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: unset;
  font-size: 16px;
  background-color: #FFFBF0;
}

@import "../layouts/majors/sidebar";

@import "../layouts/majors/main";

@import "../layouts/majors/responsiveness";

@import "../layouts/majors/topbar";


/* @media screen and (min-width: 400px) and (max-width: 475px) {
    .content{
        width:460px!important;
    }
    .sidebar{
        width: -webkit-fill-available;
        margin-left: 0px;
    }
    .fa-home{display: none;}
    .search-input {
        width: 315px!important;
    }
    .globe-icon {
        margin-left: 0px!important;
    }

} */

/* @media screen and (min-width: 768px) and (max-width: 475px) {
    .search-input {
        width: auto;
        padding: 10px;
    } */

