@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *; 

.nav--absolute{
  position: absolute;
}
/* .hamburger--img { */
/*   @include tablet { */
/*     position: absolute !important; */
/*     right: 500px !important; */
/*   } */
/* } */
@include myphone-size {
    .nav{
  &__main{
    display: flex;
    flex-direction: column;
  }
}
 }
 
  @include mobile {
    .nav{
  &__main{
    display: flex;
    flex-direction: column;
  }
}
}
  
  .media__size {
    @include fonts(500, 13px, 21.95px);
  }
  
/* spacing between Acarereview & Page */
.spacing-left {
    top: 10px;
    left: 560px;
    @include myphone-size {
      left: 60px;
      top:0;
    }
    @include mobile {
      left: 65px;
      top:0;
    }
    @include tablet {
      left: 65px;
      top:0;
    }
}

.signup {
  display: flex;
  
  &__img{
    @include size-container(490px, 947px);
    @include myphone-size {
      @include size-container(80px, 100vh);
    }
    @include mobile {
      @include size-container(80px, 105vh);
    }
    @include tablet {
      @include size-container(80px, 105vh);
    }
    background-color: $button-color;
    img{
      @include size-container(800px, 34vh);
      @include positions(26.4%,0,0,10px);
      @include myphone-size {
        @include size-container(135px, 73.5vh);
        @include positions(26.4%,0,0,0);
      }
      @include mobile {
        @include size-container(135px, 77.3vh);
        @include positions(26.4%,0,0,0);
      }
      @include tablet {
      @include size-container(140px, 105vh);
      @include positions(26.4%,0,0,0);
    }
    }
  }
  &__header{
    h1 {
      @include fonts(500, 30px, 36.63px);
    padding-bottom: 20px;
    @include myphone-size {
      padding: 20px 0 1px 0;
      @include fonts(500, 15px, 20px);
    }
    @include mobile {
      padding: 20px 0 1px 0;
      @include fonts(500, 15px, 20px);
    }
    @include tablet {
      @include fonts(500, 15px, 20px);
    }
    }
    h5 {
      @include fonts(500, 20px, 24.42px);
      @include myphone-size {
      @include fonts(500, 12px, 17px);
    }
    @include mobile {
      @include fonts(500, 12px, 17px);
    }
      } 
    p{
     @include fonts(500, 16px, 19.54px);
    padding: 15px 0 13px 0;
    width: 85%;
    color: $navbrand-color;
    @include myphone-size {
      width: 90%;
      padding: 2px 0 2px 0;
      @include fonts(500, 11px, 10px);
    }
    @include mobile {
      width: 90%;
      padding: 2px 0 2px 0;
      @include fonts(500, 11px, 10px);
    }
    }  
  }
  &__main{
    display: flex;
    padding-top: 20px;
    @include myphone-size {
      flex-direction: column;
      padding-top: 2px;
    }
    @include mobile {
      flex-direction: column;
      padding-top: 2px;
    }
    @include tablet {
      flex-direction: column;
      padding-top: 5px;
    }
    .spacing-right{
      padding-left: 20px;
      @include myphone-size {
        padding-left: 0px;
      }
      @include mobile {
        padding-left: 0px;
      }
      @include tablet {
        padding-left: 0px;
      }
    }
    input{
     @include size-container(330px, 47px); 
     border: 1px solid $dark;
      border-radius: 5px;
      margin-top: 8px;
      @include myphone-size {
        @include size-container(260px, 30px);
      }
      @include mobile {
        @include size-container(260px, 36px);
      }
      @include tablet {
        @include size-container(260px, 45px);
      }
    } 
    span {
      position: absolute; 
      img {
       @include size-container(30px, 30px);
        @include myphone-size {
          @include size-container(17px, 17px);
          left: 230px;
          top: 32px;
        }
        @include mobile {
          @include size-container(17px, 17px);
          left: 230px;
          top: 32px;
        }
       position: absolute;
       right: 10px;
       top: 15px;
      }
    }
    &__item {
      @include myphone-size {
        display: flex;
      flex-direction: column;
      }
      @include mobile {
        display: flex;
      flex-direction: column;
      }
      label {
        @include myphone-size {
          @include fonts(500, 12px, 15px);
        padding-top: 2px;
        }
        @include mobile {
          @include fonts(500, 12px, 15px);
        padding-top: 2px;
        }
      }
    }
  }
  &__form {
    padding: 215px 0 0 70px;
    @include myphone-size {
      padding: 120px 0 0 20px;
    }
    @include mobile {
      padding: 120px 0 0 20px;
    }
    @include tablet {
      padding: 10px 0 0 10px;
    }
  }
  &__checkbox {
    display: flex;
    padding-top: 20px;
    @include myphone-size {
      padding-top: 10px;
    }
    @include mobile {
      padding-top: 10px;
    }
    p {
      padding-left: 10px;
       @include myphone-size {
         @include fonts(500, 9px, 15px);
       }
       @include mobile {
         @include fonts(500, 9px, 15px);
       }
    }
    span {
      color: $link-color;
      a {
        color: $link-color;
      }
    }
  }
  &__submit {
    @include border-container(10px, $button-color);
    @include myphone-size {
      padding: 0px 75px 0px 75px;
      @include fonts(500, 12px, 24.42px);
      margin-top: 5px;
    }
    @include mobile {
      padding: 0px 75px 0px 75px;
      @include fonts(500, 12px, 24.42px);
      margin-top: 5px;
    }
    padding: 0px 260px 0px 260px;
    margin-top: 20px;
    @include fonts(500, 18px, 24.42px);
    color: $light;
  }
  &__footer {
    h5 {
      display: flex;
      justify-content: center;
      padding-top: 15px;
      @include fonts(500, 18px, 21.98px);
      @include myphone-size {
        @include fonts(500, 10px, 21.98px);
        padding-top: 3px;
      }
      @include mobile {
        @include fonts(500, 10px, 21.98px);
        padding-top: 3px;
        position: relative;
        right: 30px;
      }
    }
    span {
      padding-left: 8px;
      @include myphone-size {
        padding-left: 4px;
      }
      @include mobile {
        padding-left: 4px;
      }
      a {
        color: $link-color;
      }
    }
  }
}
