@keyframes bgColor {
  0% {
    background-color: #353535;
  }
  25% {
    background-color: #575555;
  }
  50% {
    background-color: #9e9e9e;
  }
  75% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #ffffff;
  }
}

.bgAnimate {
  animation: bgColor 15s ease-in-out 10s infinite alternate;
  transition: animation 20s ease-in-out 5s;
}
