@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/functions" as *;

.nav {
    &__main{
      @include flex-container(row, center);
    }
}


/* spacing between Acarereview & Page */
.nav-position-left {
    @include positions(0,0,0,180px);
    @include myphone-size {
    position: relative;
    left: 0;
  }
  @include mobile {
    position: relative;
    left: 0px;
  }
  @include tablet {
    position: relative;
    left: 0px;
  }
  @include desktop {
    left: 350px;
  }
  @include tv {
    left: 400px;
  }
}
.nav--img {
  @include tablet{
    position: relative;
    left: 20px;
  }
}
/* increase text size in Acarereview link*/
.nav-text-adjustment {
  @include fonts(700, 30px, 36.63px);
  @include positions(0,0,10px,20px);
  @include myphone-size {
    position: absolute;
    top: 10px;
    left:30%;
  }
  @include mobile {
    position: absolute;
    top: 9px;
    left: 30%;
  }
  @include tablet {
    position: absolute;
    top: 11px;
    left: 30%;
  }
  color: $navbrand-color;
}
.nav__link--color {
  color: $link-color;
  @include myphone-size {
    padding-right: 10px;
  }
}
