@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/functions" as *;


.sidebar {
  margin: 0;
  margin-left: 100px;
  padding: 0;
  width: 200px;
  position: absolute;
  height: 100%;
  overflow: auto;

  a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;

    &.active {
      border-radius: 10px;
      background-color: #FFCC54;
      color: white;
    }

    &:hover:not(.active) {
      background-color: #555;
      color: white;
    }
  }
}